<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "polls/app.css" %}">
</head>
<body>
    {% if latest_question_list  %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url "polls:detail" question.id %}">{{ question.text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No polls are available
    {% endif %}

    {% comment %} <img src="{% static "polls/img/hot-dog.avif" %}" alt="Hot Dog"> {% endcomment %}
</body>
</html>